
<div class="footer" style="background-color:#3c7447 ;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span>&copy; 2021 Creado por - Anthony Solano López</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">  
            <a href="https://twitter.com/webfazt" class="s3d twitter">
                Twitter
            <span class="icons twitter"></span>
            </a>
            &nbsp;  
            &nbsp;
            <a href="https://www.facebook.com/anthony.solano.94009/" class="s3d facebook">
                Facebook
            <span class="icons facebook"></span>
            </a>
        </ul>
        </footer>
    </div>
