<div class="container">
    <h1 class="text-center">Registro de alumnos</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="form-control" action="">
    <div class="mb-3 mt-4">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
    </div>
    <div class="mb-3 mt-4">
        <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
    </div>
    <div class="mb-3 mt-4">
        <label for="exampleFormControlInput1" class="form-label">Edad</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
    </div>
    <div class="mb-3 mt-4">
        <label for="exampleFormControlInput1" class="form-label">Telefono 1</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
    </div>
    <div class="mb-3 mt-4">
        <label for="exampleFormControlInput1" class="form-label">Telefono 2</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>
